<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Anna Carlquist</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>
	<nav class="navbar is-primary">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" class="navbar-item">
					Anna Carlquist
				</a>
			</div>
			<div class="navbar-menu" id="navMenu">
				<div class="navbar-start">   
					<a href="/cv" class="navbar-item ">CV</a>      
					<a href="/booking" class="navbar-item ">Booking</a>
					<a href="/guestbook" class="navbar-item">Guest Book</a> 
				</div>
				<div class="navbar-end">
						<div class="navbar-item">
							{{#if username}}
								<a href="/accounts/logout" class="navbar-item "><span class="icon">
									<p>Logout <br></p>
  								</span></a>
							{{else}}
								<a href="/accounts" class="navbar-item "><span class="icon">
								<p>Login <br></p>
							</span></a>
							{{/if}}
						</div>
					</div>
			</div>
		</div>
	</nav>
	{{#if username}}
        <p> 
            <strong>Logged in as: {{username}}</strong>
        </p>
    {{/if}}
	{{{body}}}
</body>
</html>