<div class="container is-fluid">
    <div class="columns is-vcentered">
    
    <div class="column has-background-grey">
        <div class="column">
            <p class="subtitle is-5">Kontakta</p>
            <p>Copenhagen</p>
            <p>email</p>
            <p>linkedin</p>
        </div>

        <div class="column">
            <p class="subtitle is-5">Language</p>
            <p>Copenhagen</p>
            <p>email</p>
            <p>linkedin</p>
        </div>

            
    </div>
    <div class="column is-8">
        <p class="bd-notification is-primary">First column</p>
        <div class="column">
            <p class="subtitle is-5">Kontakta</p>
            <p>Copenhagen</p>
            <p>email</p>
            <p>linkedin</p>
        </div>
    </div>
    </div>
</div>