<section class="hero is-bold is-primary is-fullheight">
        <div class="hero-body ">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Sign up</h3>
                    <p>{{error}}</p>
                    <div class="box">
                        <form action="/accounts/createAccount" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="username" required="required" placeholder="Your Username" autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="email" required="required" placeholder="Your e-mail adress" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" required="required" name="password" placeholder="Your Password">
                                </div>
                            </div>
                             <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" required="required" name="confirmationPassword" placeholder="Confirm Password">
                                </div>
                            </div>   
                            <button class="button is-block is-info is-large is-fullwidth" type="submit" >Sing up <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/accounts">Already have an account? Sign in</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>