
<div class="container">
    <div class="section">
    <div class="card">
        <h3 class="card-header" id="monthAndYear">{{model.monthAndYear}}</h3>
        <table class="table" id="calendar">
            <thead>
                <tr>
                    <th>time</th>
                    <th>Tue {{model.thuesday}}</th>
                    <th>Wed {{model.wednesday}}</th>
                    <th>Thu {{model.thursday}}</th>        
                </tr>
            </thead>
            <tbody id="calendar-body">
                <form action="/booking/addbooking" method="post">
                <tr>
                   <td>16:00 - 17:00</td>
                   
               </tr>
               </form>
               <tr>
                    <td>17:00 - 18:00</td>
                    
                   
                   
               </tr>
               <tr>
                   <td>18:00 - 19:00</td>
                   
                    
               </tr>

               <tr>
                   <td>19:00 - 20:00</td>
                   
                   
               </tr>

               
            </tbody>
        </table>
        
    </div>
    </div>
</div>



