
<div class="container">
    <div class="section">
    <div class="card">
        <h3 class="card-header" id="monthAndYear">{{monthAndYear}}</h3>
        <table class="table" id="calendar">
            <thead>
                <tr>
                    <th>time</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>        
                </tr>
            </thead>
            <tbody id="calendar-body">
               <tr>
                   <td>16:00 - 17:00</td>
                    {{#if bookings}}
                        {{#each bookings}}
                            <td>{{this.date}}</td>
                        {{/each}}
                    {{/if}}
                
               </tr>
               <tr>
                    <td>17:00 - 18:00</td>
                    <td>Not Available</td>
                    <td>Not Available</td>
                    <td>Not Available</td>
                   
                   
               </tr>
               <tr>
                   <td>18:00 - 19:00</td>
                   <td>Not Available</td>
                    <td>Not Available</td>
                    <td>Not Available</td>
                    
               </tr>

               <tr>
                   <td>19:00 - 20:00</td>
                   <td>Not Available</td>
                    <td>Not Available</td>
                    <td>Not Available</td>
                   
               </tr>

               
            </tbody>
        </table>
        
    </div>
    </div>
</div>



