<style>
    .cv-left{ background-color:rgb(47, 87, 102); color: white; }
    .cv-text{ font-size:14px;}
    .cv-text-lightgrey { color: rgb(189, 185, 185);}
</style>
<div class="container is-fluid">
    <div class="columns is-hcentered">
        <div class="column is-one-quarter cv-left">
            <div class="column">
                <p class="subtitle is-5 cv-left">Contact</p>
                <p>Copenhagen</p>
                <p>0046762716430 <p class="cv-text-lightgrey">(Mobile)</p></p>
                <p>carlquist.anna@gmail.com</p>
                <a class="cv-left" href="https://www.linkedin.com/in/annaicarlquist">www.linkedin.com/in/annaicarlquist</a>
            </div>

            <div class="column">
                <p class="subtitle is-5 cv-left">Proficiencies</p>
                <p>Energetic team player</p>
                <p>Cross-cultural Communication skills</p>
                <p>Project Management</p>
            </div>
            <div class="column">
                <p class="subtitle is-5 cv-left">Languages</p>
                <p>Danish</p>
                <p>English</p>
                <p>Swedish</p>
            </div>
            <div class="column">
                <p class="subtitle is-5 cv-left">Certifications</p>
                <p>ITELTS International English</p>
                <p>Proficiency test</p>
            </div>
            <div class="column">
                <p class="subtitle is-5 cv-left">Honors-Awards</p>
                <p>Outstanding Intern Award</p>
            </div>
            <div class="column">
                <p class="subtitle is-5 cv-left">Publications</p>
                <p>The Co-Existence of Strategic <br>Renewal and Strategic Inertia: A <br>Case Study of an Innovative Firm</p>
            </div>
            
        </div>
        <div class="column is-three-quarters">
            <div class="column">
                <p class="subtitle is-3">Anna Carlquist</p>
                <p>Head of CRM at Nustay</p>
                <p class="cv-text-lightgrey">Copenhagen Area, Capital Region, Denmark</p>
                <br>
                <p class="subtitle is-4"> Experience</p>
                <p>Nustay <br>Head of CRM <br>January 2019 - Present</p>
                <p class="cv-text-lightgrey">Copenhagen Area, Capital Region, Denmark</p>
                <br>
                <p class="cv-text">Responsible for the implementation process of our CRM system: Salesforce <br>
                    Marketing Cloud with a vision to create relevant, valuable, and personal <br>
                    communication with Nustay's customer. <br> <br>
                    Have successfully scoped and launched the “Nustay Blog”, the company's <br>
                    "FAQ" page, a new "About Us" page, and counting. Manager for Nustay’s <br> 
                    Content Writer and point of contact for our Salesforce developer. <br>
                </p>
                <br>
                <p>KAYAK <br>Social Marketing Manager<br>January 2018 - January 2019 (1 year 1 month)</p>
                <p class="cv-text-lightgrey">Copenhagen Area, Denmark</p>
                <br>
                <p class="cv-text">Main responsibilities:
                    - To grow and exceed expectations on performance marketing activities, <br>
                    on Facebook, across the globe, for our 6 brands (KAYAK, momondo, <br>
                    Cheapflights, SWOODOO, Checkfelix and Mundi) <br>
                    - Managing budgets and performance through DAT Campaigns (Dynamic Ads <br>
                    for Travel) <br>
                    - Strategising, monitoring, creating Remarking and Acquisition campaigns for <br>
                    APP on Facebook. <br>
                    - Test and debug internal marketing softwares for FB <br>
                </p>
                <br>
                <p>momondo <br>1 year 2 months<br>App Campaign Manager<br>May 2017 - January 2018 (8 months)</p>
                <p class="cv-text-lightgrey">Copenhagen Area, Denmark</p>
                <br>
                <p class="cv-text">
                    - Responsible for app advertisement, across marketing platforms, in the Nordic <br>
                    locals (DK, SE, NO, FI) for the momondo brand. <br>
                    - Ran performance advertising across platforms, including Google Adwords, <br>
                    Facebook, Instagram, Yahoo Gemini, Bing, Twitter. <br>
                    - Sole responsibility for 3rd party publishers/affiliate relations for the App. <br>
                    - Maintained substantial involvement in reporting, analytics and budgeting. <br>
                </p>
                <br>
                <p>Mobile Digital Marketing Trainee<br>November 2016 - April 2017 (6 months)</p>
                <p class="cv-text-lightgrey">Copenhagen Area, Denmark</p>
                <p class="cv-text">
                    After the 6 months trainee, I learned: <br>
                    - Search marketing (Google Adwords, Yahoo gemini, Bing search ads, <br>
                    Yandex) <br>
                    - Search marketing for app channel <br>
                    - Facebook marketing <br>
                    - Main online marketing KPIs and metrices <br>
                    - Affiliate marketing (Price models, tracking, campaign mechanics) <br>
                </p>
                <br>
                <p>Ageras <br>Marketing Assistant <br>October 2015 - November 2016 (1 year 2 months) <br></p>
                <p class="cv-text-lightgrey">Copenhagen Area, Capital Region, Denmark</p>
                <p class="cv-text">
                    Had an overall communicative responsibility towards the Swedish market, <br>
                    including: <br> <br>
                    - Email flow strategising <br>
                    - Creating and optimizing website content <br>
                    - Copy for blog posts <br>
                    - Producing content for landing pages <br>
                    - Facebook ads <br>
                    - Translations <br>
                    - Project management <br>

                </p>
                
            </div>
        </div>
    </div>
</div>