
    <section class="hero  is-medium  is-bold is-primary ">
    <div class="hero-body">
        <div class="container">
            <p class="title is-2">Anna Carlquist</p>
            <p class="subtitle is-5">My professional career translates into a 360º Online Marketing journey 
                – from SEM to Social, to Content marketing and Branding, and finally CRM. <br /><br />My track record 
                contains projects such as opening up new marketing channels, launching Facebook and email 
                strategies, project managing the development of blogs, FAQ pages and the implementation of 
                a CRM system. Independent on the project, performance KPIs are what drives me and the 
                projects forward, and what ultimately defines the success. <br /><br />I’m a big believer in 
                knowledge sharing, and by helping you, I hope to become a more skilled professional, 
                as well as to add something to my karma account</p>
        </div>
        
        <div class="container ">
            <div class="section">
                <div class="columns is-multiline">
                    <div class="column has-text-right">
                        <div>
                            <a href="/calendar"><button class="button is-rounded">Booking</button></a>
                        </div>
                    </div>

                    <div class="column has-text-left">
                        <div>
                            <a href="/cv"><button class="button is-rounded">CV</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    

</section>
    
    
    
    <footer class="footer">
    <div class="container">
        
        
        <div class="columns is-multiline">
            
            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/" class="link">Home</a>
                </div>
            </div>
            
            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/blog/" class="link">Blog</a>
                </div>
            </div>
            
            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/products/" class="link">Products</a>
                </div>
            </div>
            
            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/privacy-policy/" class="link">Privacy Policy</a>
                </div>
            </div>
            
        </div>
        

        <div class="content is-small has-text-centered">
            <p class="">Website built by Dennis Molund and Jacob Carlquist</p>
        </div>
    </div>
</footer>